<nav>
    <a routerLink="/">aula4</a>
    <a routerLink="/Aula7">aula7</a>
    <a routerLink="/Aula8">aula8</a>
    <a routerLink="/Aula9">aula9</a>
    <a routerLink="/Aula10">aula10</a>
    <a routerLink="/Aula11">aula11</a>
    <a routerLink="/Aula12-13-16-18-19">aula12-13-16-18-19</a>
    <a routerLink="/Aula14">aula14</a>    
    <a routerLink="/Aula15">aula15</a>
</nav>
<h1>Iniciando angular</h1>
<router-outlet></router-outlet>
<!-- <app-first-component></app-first-component>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-eventos></app-eventos>
<app-emitter></app-emitter>
<app-list-render></app-list-render>
<app-pipes-oeprators></app-pipes-oeprators>
<app-two-way-data-binding></app-two-way-data-binding> -->
<!-- 
    <router-outlet></router-outlet> 
    essa tag é a substituição para importa somente o conteudo do componente que agora é uma rota;
-->
